<div class="header item">
  Practical Startpage
</div>
<div class="left menu badges">
  <!--Placehoder to insert badges-->
</div>
<div class="right menu">
  <a class="ui item" href="https://groups.google.com/forum/#!forum/practical-startpage" target="_blank" ui-popup="vm.bugPopup">
    <i class="bug icon"></i>
  </a>
  <div class="ui bottom right dropdown item" ui-dropdown>
    <i class="setting icon"></i>
    <div class="menu">
      <div class="item" ng-repeat="menuItem in vm.bottomSubMenu" ng-click="vm.activateModal(menuItem)">
        <i class="icon" ng-class="menuItem.icon"></i> {{menuItem.title}}
      </div>
    </div>
  </div>
</div>
<ui-modal ui-modal-show="vm.showModal" ui-modal-url="vm.modalUrl"></ui-modal>
