# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Minified components
/build/
/release/

# Dependency directory
node_modules
bower_components
typings

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
