html, body {
  height: 100hv;
}
.main.grid {
  flex-direction: column;
  height: 100%;
}
.main.row {
  flex: 1;
  min-height: 0;
  /* new; resolves Firefox bug */
  min-width: 0;
  /* new; resolves Firefox bug */
}
.main.row>.column {
  display: flex !important;
  flex-direction: column;
}
.main.row>.column .segment {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
