/*Core*/

html,
body {
  height: 100%;
}

.main.grid {
  flex-direction: column;
  height: 100%;
}

.main.row {
  flex: 1;
  min-height: 0;
  /* new; resolves Firefox bug */
  min-width: 0;
  /* new; resolves Firefox bug */
}

.main.row>.column {
  display: flex !important;
  flex-direction: column;
}

.main.row>.column .segment {
  width: 100%;
  flex: 1;
  overflow: auto;
  margin-bottom: 0 !important;
}


/*Semantic-UI*/


/*Modal*/

.ui.modal > .close {
  top: .905rem;
  right: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.ui.modal .segment {
  max-height: calc(100vh - 15em);
  overflow-y: auto;
}

.ui.modal .bottom.attached.segment {
  max-height: calc(100vh - 18em);
}


/*Used in About*/

img.ui.logo.image {
  height: 40px;
  width: auto;
  font-size: .71428571rem;
}


/*Media Queries*/


/*All columns etc*/

div.browser {
  width: 100%;
}

.left.column,
.middle.column,
.right.column {
  width: 50% !important;
}

@media (max-width: 1000px) {
  .middle a.item span {
    display: none !important;
  }
}

@media (min-width: 1001px) {
  div.browser.middle {
    width: 50%;
  }
  .left.column {
    width: 37% !important;
  }
  .middle.column {
    width: 63% !important;
  }
}

@media (max-width: 1300px) {
  .main.row>.right.column,
  .cover {
    display: none !important;
  }
}

@media (min-width: 1301px) {
  .cover {
    display: block;
  }
  .left.column,
  .right.column {
    width: 26% !important;
  }
  .middle.column {
    width: 48% !important;
  }
  .delegate {
    display: none !important;
  }
}

@media (min-width: 2001px) {
  .left.column {
    width: 20% !important;
  }
  .middle.column,
  .right.column {
    width: 40% !important;
  }
  div.browser.right {
    width: 50%;
  }
}

.linkedin.label {
  border-color: #287bbc;
  vertical-align: text-bottom;
}

.linkedin.label > .linkedin.square.icon {
  color: #287bbc;
  margin: 0;
}

.linkedin.label > span {
  position: relative;
  top: 2px;
}