html, body {
  height: 100hv;
}
.main.grid {
  flex-direction: column;
  height: 100%;
}
.main.row {
  /*display: flex;*/
  flex: 1;
  /*height: 100vh;*/
  min-height: 0;
  /* new; resolves Firefox bug */
  min-width: 0;
  /* new; resolves Firefox bug */
}
.main.row>.column {
  display: flex !important;
  flex-direction: column;
}
.main.row>.column>.segment {
  width: 100%;
  flex: 1;
  /*margin: 0px*/
}

/*******************/

/*.grid.main {
  background-color: black;
}*/
/*.main.row {
  background-color: pink;
}*/
/*.menu.row {
  background-color: blue;
}*/
/*.column.left {
  background-color: yellow;
}*/
/*.column.right {
  background-color: black;
}*/
