<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column">
      <table class="ui very basic compact table">
        <thead>
          <tr>
            <th class="center aligned">Local Storage</th>
            <th colspan="2" class="center aligned">Switch Storage</th>
            <th class="center aligned">Sync Storage</th>
            <th>Storage Area</th>
          </tr>
        </thead>
        <tr ng-repeat="object in vm.data  | orderBy: 'order'">
          <td class="center aligned">
            <span ng-if="object.local.exist">Has data</span>
          </td>
          <td class="center aligned">
            <button class="ui basic icon compact button" ng-if="((!object.local.storage && object.sync.exist)||(object.local.storage&&object.local.exist))" ng-click="vm.switchStorage(object,true)">
              <i class="big icons">
                <i class="arrow icon" ng-class="{right: object.local.storage, left: !object.loca.storage}"></i>
                <i class="corner copy icon"></i>
              </i>
            </button>
          </td>
          <td class="center aligned">
            <button class="ui basic icon compact button" ng-click="vm.switchStorage(object,false)">
              <i class="big icons">
              <i class="arrow icon" ng-class="{right: object.local.storage, left: !object.local.storage}"></i>
              </i>
            </button>
          </td>
          <td class="center aligned">
            <span ng-if="object.sync.exist">Has data</span>
          </td>
          <td ng-bind="object.title"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
