<div class="ui two column grid">
  <div class="stretched row">
    <div class="column">
      <div class="ui segment">
        <form class="ui form">
          <div class="inline field">
            <label>{{vm.locale("Display")}}</label>
            <div class="ui selection dropdown" ui-dropdown="vm.dropdown">
              <input name="listType" type="hidden" value="{{vm.input.listType}}" ng-model="vm.input.listType"/>
              <i class="dropdown icon"></i>
              <div class="text"></div>
              <div class="menu">
                <div class="item" data-value="BL" ng-click="vm.selected('BL')">
                  {{vm.locale("w_BL")}}
                </div>
                <div class="item" data-value="GL" ng-click="vm.selected('GL')">
                  {{vm.locale("w_GL")}}
                </div>
              </div>
            </div>
            <!-- <div class="ui toggle checkbox">
              <input type="checkbox" ng-model="vm.input.showDelete">
              <label>Allow delete</label>
            </div> -->
          </div>
          <div class="inline fields">
            <div class="ui toggle checkbox">
              <input type="checkbox" ng-model="vm.input.useMax"/>
              <label></label>
            </div>
            <div class=" field">
              <div class="ui right labeled input" ng-class="{disabled : !vm.input.useMax}">
                <input type="number" placeholder="100" ng-model="vm.input.max"/>
                <div class="ui label">{{vm.locale("entries")}}</div>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="ui toggle checkbox">
              <input type="checkbox" ng-model="vm.input.useDays"/>
              <label></label>
            </div>
            <div class="field">
              <div class="ui right labeled input" ng-class="{disabled : !vm.input.useDays}">
                <input type="number" placeholder="0" ng-model="vm.input.days"/>
                <div class="ui label">{{vm.locale("days")}}</div>
              </div>
            </div>
          </div>
          <button class="ui button" type="submit" ng-class="{disabled : !vm.dataValid()}" ng-click="vm.save()">
            {{vm.locale("Save")}}
          </button>
          <button class="ui button" type="submit" ng-click="vm.close()">
            {{vm.locale("Close")}}
          </button>
        </form>

      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="main row" ng-include="vm.widgetUrlList"></div>
      </div>
    </div>
  </div>
