<i class="right floated close icon"></i>
<div class="header">
  Revision Log
</div>
<div class="content">
  <div class="ui segment ">
    <div class="revision item">
      <div class="content">
        <div class="header">v 2.0.0</div>
        <div class="description">
          Modular back end with AngularJS
          <ul>
            <li>
              Rewritten entire application in angularJS, making the application modular and adaptable. Once the stability is confirmed of this application the configuration modules wil be added.
            </li>
            <li>Middle mouse button now opens url in new tab from Bookmark Tree</li>
            <li>
              Closed tab refreshes directly when the web pages are closed.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="revision item">
      <div class="content">
        <div class="header">v 1.1.2</div>
        <div class="description">
          Small fixes
          <ul>
            <li>Pop-ups with key combination in Bookmark editor buttons</li>
            <li>Folder open timing decreased for drag and drop in bookmark editor</li>
            <li>Using delete key in edit bookmark url mode deleted entire bookmark</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="revision item">
      <div class="content">
        <div class="header">v 1.1.1</div>
        <div class="description">
          Bug fixes
          <ul>
            <li>History was truncated by date</li>
            <li>Using delete key in edit bookmark name mode deleted entire bookmark</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="revision item">
      <div class="content">
        <div class="header">v 1.1.0</div>
        <div class="description">
          Quick keys
          <ul>
            <li>
              Changes
              <ul>
                <li>Possible to add folders</li>
                <li>Quick keys working e.g. Del, F2</li>
                <li>Open all links in a folder now possible</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="revision item">
      <div class="content">
        <div class="header">v 1.0.0</div>
        <div class="description">
          Bookmark Editor
          <ul>
            <li>
              Changes
              <ul>
                <li>Added bookmark editor</li>
                <li>Minified code and improved code for faster response</li>
              </ul>
            </li>
            <li>
              Bug Fixes
              <ul>
                <li>Empty folder in bookmark widget showed up as links</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="revision item">
      <div class="content">
        <div class="header">v 0.2.2</div>
        <div class="description">
          Improved Performance
          <ul>
            <li>
              Changes
              <ul>
                <li>Changed color to work better on all monitors</li>
                <li>Changed font loading</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="revision item">
      <div class="content">
        <div class="header">v 0.2.1</div>
        <div class="description">
          Fixed Problems with some missing headers
          <ul>
            <li>
              Bug fixes:
              <ul>
                <li>Changed font loading</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="revision item">
      <div class="content">
        <div class="header">v 0.2.0</div>
        <div class="description">
          First beta version of Practical Startpage
          <ul>
            <li>
              New features:
              <ul>
                <li>Changed layout framework from jqueryUI to Semantic-UI</li>
                <li>Improved responsiveness to give a more consistent layout of content between screen sizes</li>
                <li>Improved responsiveness to give further benefits to both smaller and larger screens</li>
                <li>Fixed page height now work on alls creen sizes</li>
                <li>Improved look and feel</li>
                <li>Updated help files</li>
              </ul>
            </li>
            <li>
              Bug fixes:
              <ul>
                <li>Closed tabs does't fail to load when there is not title, like google searches</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="revision item">
      <div class="content">
        <div class="header">v 0.1.0</div>
        <div class="description">
          First alpha version of Practical Startpage
        </div>
      </div>
    </div>
  </div>
</div>
