<div class="ui grid">
  <div class="row">
    <div class="eleven wide column">
      <table class="ui very basic compact table">
        <thead>
          <tr>
            <th class="center aligned">Local Storage</th>
            <th class="center aligned">Sync Storage</th>
            <th>Storage Area</th>
          </tr>
        </thead>
        <tr ng-repeat="object in vm.data  | orderBy: 'order;title'">
          <td class="center aligned">
            <input type="checkbox" ng-model="object.local.selected" ng-click="vm.checkboxCB('local')" ng-if="object.local.exist">
          </td>
          <td class="center aligned">
            <input type="checkbox" ng-model="object.sync.selected" ng-click="vm.checkboxCB('sync')" ng-if="object.sync.exist">
          </td>
          <td ng-bind="object.title"></td>
        </tr>
        </tbody>
        <tfoot>
          <tr class="active">
            <th class="center aligned">
              <input type="checkbox" ng-model="vm.local.allSelected" ng-click="vm.allselectedCB('local')" ng-if="vm.local.exist">
            </th>
            <th class="center aligned">
              <input type="checkbox" ng-model="vm.sync.allSelected" ng-click="vm.allselectedCB('sync')" ng-if="vm.sync.exist">
            </th>
            <th>
              Select All
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="five wide column">
      <button class="ui  button" ng-click="vm.clearData()" ng-class="[vm.primaryCol,{disabled:(vm.local.buttonDisabled && vm.sync.buttonDisabled)}]">
        {{vm.locale("c_o_clearSettings")}}
      </button> {{vm.dataCleared}}
    </div>
  </div>
</div>
