<div class="ui grid options layout">

  <div ng-repeat="list in lists" class="five wide column">
    <div class="panel-heading">
      <h3 class="panel-title">List of
        {{list.label}}
        (max.
        {{list.max}})</h3>
    </div>
    <div class="ui segment">
      <div class="ui relaxed divided list" dnd-list="list.people" dnd-allowed-types="list.allowedTypes" dnd-disable-if="list.people.length >= list.max">

        <div ng-repeat="person in list.people" dnd-draggable="person" dnd-type="person.type" dnd-disable-if="person.type == 'unknown'" dnd-moved="list.people.splice($index, 1)" dnd-effect-allowed="move" class="item">
          <i class="large github middle aligned icon"></i>
          {{person.name}}
        </div>

        <div class="item dndPlaceholder">
          <i class="large plus square middle aligned icon"></i>

        </div>

      </div>
    </div>
  </div>

</div>
