<div class="ui padded grid">
  <div class="four wide column">
    <div class="ui vertical fluid menu">
      <a class="item" ng-class="{'active' : vm.tab === 1}" ng-click="vm.setTab(1)">
        Layout
      </a>
      <a class="item" ng-class="{'active' : vm.tab === 2}" ng-click="vm.setTab(2)">
        Style
      </a>
      <a class="item" ng-class="{'active' : vm.tab === 3}" ng-click="vm.setTab(3)">
        Reset
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <div class="ui tab" ng-class="{'active' : vm.tab === 1}">
        <ps-edit-layout></ps-edit-layout>
      </div>
      <div class="ui tab " ng-class="{'active' : vm.tab === 2}">
        The theme colors will be configurable from here in the future.
      </div>
      <div class="ui tab" ng-class="{'active' : vm.tab === 3}">
        <p>
          If you have problems with the application you can reset all settings here
        </p>
        <button class="negative ui button" ng-click="vm.clearData()">Reset All Settings</button>{{vm.dataCleared}}
      </div>
    </div>
  </div>
</div>
