<div class="ui two column grid">
  <div class="column">
    <div class="ui segment">
      <form name="feedForm" class="ui one column grid">
        <div class="column">
          <div class="ui fluid labeled input">
            <div class="ui label">
              Title
            </div>
            <input type="text" placeholder="Title" name="title" ng-model="vm.feed.title">
          </div>

        </div>
        <div class="column">
          <div class="ui fluid labeled input">
            <div class="ui label">
              Url
            </div>
            <input type="url" placeholder="mysite.com" name="url" ng-model="vm.feed.url" required>
            <button class="ui button" ng-class="{disabled : !feedForm.url.$valid}" ng-click="vm.checkFeedUrl(!feedForm.url.$valid)">
              Check
            </button>
          </div>

        </div>
        <div class="column">
          <button class="ui right aligned button" ng-class="vm.addButtonClass">
            <i class="plus icon"></i>
            Add Feed
          </button>
          <button class="ui right aligned button" ng-class="vm.addButtonClass">
            <i class="save icon"></i>
            Save
          </button>
          <button class="ui right aligned button">
            <i class="remove icon"></i>
            Close
          </button>
        </div>

      </form>

    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui comments">
        <div class="comment" ng-repeat="entry in vm.feed.entries">
          <div class="content">
            <img ng-src="{{entry.icon}}" height="16"/>
            <a class="author" ng-href="{{entry.link}}">{{entry.title}}</a>
            <div class="metadata">
              <span class="date">{{entry.timeStamp}}</span>
            </div>
            <div class="text">
              {{entry.contentSnippet}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
