<div class="ui two column grid">
  <div class="stretched row">
    <div class="column">
      <div class="ui segment">

        <form name="feedForm" class="ui form" novalidate>

          <div class="field">
            <div class="ui button" ng-click="vm.createSync()">
              Create Sync Folder
            </div>
          </div>
          <div class="field">
            <div class="ui right aligned button" ng-click="vm.removeSync()">
              Remove Sync Folder
            </div>
          </div>
          <div class="field">
            <div class="ui right aligned button" ng-click="vm.moveSync()">
              Move Sync Folder
            </div>
          </div>

          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" ng-model="vm.data.sync.delItemsSync" ng-click="vm.syncDeleted()" />
              <label>Syncronise Deleted Items</label>
            </div>
          </div>

          <div class="field">
            <button class="ui button" ng-click="vm.closeForm()">
              <i class="remove icon"></i> {{vm.locale("Close")}}
            </button>
          </div>
        </form>

      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div js-tree="vm.treeConfig" ng-model="vm.treeData" tree="vm.treeInstance" tree-events-obj="vm.treeEvents"></div>
      </div>
    </div>
  </div>
</div>
