<div class="ui grid options layout">

  <div ng-repeat="col in vm.columns" class="four wide column">
    <div class="ui fluid one item menu" ng-class="vm.styles.priMenu">
      <div class="header item">
        {{col.title}}
      </div>
    </div>
    <div class="ui segment" dnd-list="col.tabs" dnd-disable-if="vm.checkDisabledCol(col)">

      <div ng-repeat="tab in col.tabs" dnd-draggable="tab" dnd-moved="col.tabs.splice($index, 1)" dnd-effect-allowed="move" dnd-disable-if="vm.checkDisabledTab(col)" class="ui basic label" dnd-dragstart="tab.drag=true" dnd-dragend="tab.drag=false">
        <i class="large middle aligned icon" ng-class="tab.icon"></i>
        {{tab.title}}
      </div>

      <div class="ui basic label dndPlaceholder">
        <i class="large plus square middle aligned icon"></i>
      </div>

    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid one item menu" ng-class="vm.styles.secMenu">
      <div class="header item">
        {{vm.locale("Widgets")}}
      </div>
    </div>
    <div class="ui segment" dnd-list="vm.widgets">
      <div ng-repeat="widget in vm.widgets" dnd-draggable="widget" dnd-moved="vm.widgets.splice($index, 1)" dnd-effect-allowed="move" class="ui basic label">
        <i class="large middle aligned icon" ng-class="widget.icon"></i>
        {{widget.title}}
      </div>
      <div class="ui basic label dndPlaceholder">
        <i class="large plus square middle aligned icon"></i>
      </div>

    </div>
  </div>
  <div class="sixteen wide column">
    <button class="ui right floated button" ng-class="vm.styles.secButton" ng-click="vm.getData()">
      {{vm.locale("UndoAll")}}
    </button>
    <button class="ui right floated button" ng-class="vm.styles.secButton" ng-click="vm.getDefaults()">
      {{vm.locale("LoadDefault")}}
    </button>
    <button class="ui left floated button" ng-class="vm.styles.priButton" ng-click="vm.saveData()">
      {{vm.locale("Save")}}
    </button>
  </div>
</div>
