<div class="ui top attached tabular menu" ng-class="vm.primaryCol">
  <a class="item" ng-class="{'active' : vm.tab === 'editLayout'}" ng-click="vm.tab = 'editLayout'">
    {{vm.locale("c_o_editLayout")}}
  </a>
  <a class="item" ng-class="{'active' : vm.tab === 'editBadges'}" ng-click="vm.tab = 'editBadges'">
    {{vm.locale("c_o_editBadges")}}
  </a>
  <a class="item" ng-class="{'active' : vm.tab === 'clearData'}" ng-click="vm.tab = 'clearData'">
    {{vm.locale("c_o_clearSettings")}}
  </a>
</div>
<div class="ui bottom attached segment">
  <div class="ui tab" ng-class="{'active' : vm.tab === 'editLayout'}">
    <ps-edit-layout></ps-edit-layout>
  </div>
  <div class="ui tab" ng-class="{'active' : vm.tab === 'editBadges'}">
    <ps-edit-badges></ps-edit-badges>
  </div>
  <div class="ui tab" ng-class="{'active' : vm.tab === 'clearData'}">
    <ps-clear-data></ps-clear-data>
  </div>
</div>
