<div class="ui padded grid">
  <div class="three wide column">
    <div class="ui vertical fluid menu">
      <a class="item" ng-class="{'active' : vm.tab === 1}" ng-click="vm.tab = 1">
        Edit Layout
      </a>
      <a class="item" ng-class="{'active' : vm.tab === 2}" ng-click="vm.tab = 2">
        Edit Style
      </a>
      <a class="item" ng-class="{'active' : vm.tab === 3}" ng-click="vm.tab = 3">
        Clear Data
      </a>
    </div>
  </div>
  <div class="thirteen wide stretched column">
    <div class="ui segment" style="min-height:330px">
      <div class="ui tab" ng-class="{'active' : vm.tab === 1}">
        <ps-edit-layout></ps-edit-layout>
      </div>
      <div class="ui tab " ng-class="{'active' : vm.tab === 2}">
        The theme colors will be configurable from here in the future.
      </div>
      <div class="ui tab" ng-class="{'active' : vm.tab === 3}">
        <ps-clear-data></ps-clear-data>
      </div>
    </div>
  </div>
</div>
