div.search {
  position: fixed;
}
div.search > a.button {
  position: relative;
  left: -1.75em;
  top: -.75em;
}
div.search > a.button:not(:hover) {
  background-color: #000000 !important;
  opacity: 0.3;
}
div.search > a.button>i.icon {
  opacity: 1 !important;
}
div.search div.input {
  width: 12rem;
}
