.browser {
  display: inline-block;
}
.ui.basic.browser.button {
  box-shadow: 0 0 0 1px #cccccc !important;
  color: #888888 !important;
  margin: 2px;
  padding: .6em;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 99%;
}
.browser.button > img {
  margin: -0.1em 0.2em -0.1em 0.1em;
  height: 16px;
}
.browser.item {
  overflow: hidden;
  white-space: nowrap;
}
/*.browser.item > .content > .description {
  overflow: hidden;
  white-space: normal;
}*/
