/*Variables*/


/*JS tree*/

a.jstree-anchor:hover, a.jstree-anchor.jstree-clicked {
  background: transparent !important;
  box-shadow: 0 0 0 2px #1560bd inset !important;
  color: #1560bd;
}
.jstree-icon.jstree-themeicon.folder.icon {
  font-size: 16px;
}
.jstree-contextmenu {
  z-index: 1200;
}
/*#jstree-marker {
  z-index: 1200;
}*/
ul.vakata-context {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(39, 41, 43, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: none;
}
ul.vakata-context li > a:hover {
  background-color: #ffffff;
  color: #1560bd;
  box-shadow: 0 0 0 2px #1560bd inset !important;
}
ul.vakata-context .vakata-context-hover > a {
  background-color: #ffffff;
  box-shadow: none;
}

/*custom classes*/

.editUrl {
  position: absolute;
}
