<div class="content" ng-keydown="vm.keydownCB($event)">
  <div class="ui grid">
    <div class="eleven wide column">
      <div class="ui segment"ng-style="vm.segmentHeight">
        <div js-tree="vm.treeConfig" ng-click="vm.clickCB($event)" ng-model="vm.treeData" ng-mousedown="vm.mouseDownCB($event)" tree="vm.treeInstance" tree-events-obj="vm.treeEvents"></div>
      </div>
    </div>
    <div class="five wide column">
      <div class="ui fluid vertical menu">
        <div class="item">
          <div class="ui fluid icon input" ng-keyup="vm.searchTree()">
            <input placeholder="Search..." type="text" ng-model="vm.searchString">
            <i class="remove link icon transition" ng-class="{hidden:vm.searchString.length===0}" ng-click="vm.resetSearch()"></i>
          </div>
        </div>
        <a class="item" ng-class="vm.activeButtons.editNode" ui-popup="{content:'F2',position: 'right center'}" ng-click="vm.buttonPress.editNode()">
          <i class="edit icon"></i>
          Edit
        </a>
        <a class="item" ng-class="vm.activeButtons.editUrl" ui-popup="{content:'Shift-F2',position: 'right center'}" ng-click="vm.buttonPress.editUrl()">
          <i class="world icon"></i>
          Edit Url
        </a>
        <a class="item" ng-class="vm.activeButtons.newFolder" ui-popup="{content:'Ctrl+Shift-N',position: 'right center'}" ng-click="vm.buttonPress.newFolder()">
          <i class="folder outline icon"></i>
          New Folder
        </a>
        <a class="item" ng-class="vm.activeButtons.deleteNodes" ui-popup="{content:'Del',position: 'right center'}" ng-click="vm.buttonPress.deleteNodes()">
          <i class="erase icon"></i>
          Delete
        </a>
        <!--<a id="bookmarkTreeUndo" class="item" data-content="Ctrl+Z">
                        <i class="blue undo icon"></i> Undo
                    </a>-->
        <a class="item" ng-class="vm.activeButtons.undoAll" ui-popup="{content:'Ctrl+Shift+Z',position: 'right center'}" ng-click="vm.buttonPress.undoAll()">
          <i class="undo icon"></i>
          Undo All
        </a>
        <a class="item" ng-class="vm.activeButtons.saveChanges" ui-popup="{content:'Ctrl+S',position: 'right center'}" ng-click="vm.buttonPress.saveChanges()">
          <i class="inverse  save icon"></i>
          Save
        </a>
        <a class="item" ng-class="vm.activeButtons.saveClose" ui-popup="{content:'Ctrl+Shift+S',position: 'right center'}" ng-click="vm.buttonPress.saveClose()">
          <i class="save icon"></i>
          Save and Close
        </a>
        <a class="item" ui-popup="{content:'Esc',position: 'right center'}" ng-click="vm.buttonPress.closeNoSave()">
          <i class="remove icon"></i>
          Close
        </a>
      </div>
    </div>
  </div>
</div>
